[submodule "ggml"]
	path = ggml
	url = git@github.com:hjdjs12/ggml_npu_new.git
[submodule "examples/server/frontend"]
	path = examples/server/frontend
	url = https://github.com/leejet/stable-ui.git
[submodule "thirdparty/libwebp"]
	path = thirdparty/libwebp
	url = https://github.com/webmproject/libwebp.git
